@model IEnumerable<GestionEmploi.Models.Filiere>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Libelle</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var filier in ViewData["list"] as IEnumerable<GestionEmploi.Models.Filiere>)
        {

            <tr>

                <td> @filier.FiliereId</td>
                <td>@filier.Libelle</td>
                <td>
                    <button class="btn btn-danger">delete</button>
                    <button class="btn btn-success">update</button>
                    <button class="btn btn-info">info</button>

                </td>
            </tr>


        }


    </tbody>
</table>
